@use "../abstracts/variables" as v;

body {
  font-family: v.$font-primary;
  font-size: v.$fs-md;
  line-height: 1.6;
  color: v.$dark;
}

h1 {
  font-size: v.$fs-xxl;
  font-weight: 700;
}

h2 {
  font-size: v.$fs-xl;
  font-weight: 600;
}

h3 {
  font-size: v.$fs-lg;
  font-weight: 600;
}

p {
  font-size: v.$fs-md;
  color: v.$secondary;
}
