.cursorDot {
  position: fixed;
  width: 8px;
  height: 8px;
  background: rgb(158, 154, 154);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.25s ease;
  z-index: 9999;
}

.expand {
  transform: translate(-50%, -50%) scale(4);
}

.cursorRing {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1.5px solid rgb(158, 154, 154);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
}
