.logoBar {
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 90px;
  max-width: 100%;
  object-fit: contain;
}

/* MOBILE */
@media (max-width: 768px) {
  .logo {
    max-height: 65px;
  }
}
