.copyright {
  background: #3d0501; /* slightly darker than footer */
  padding: 14px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  // margin-top: 100px;
  font-size: 13px;
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  b {
    color: #faa33d;
    font-weight: 600;
  }
}

@media (max-width: 576px) {
  .copyright {
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    gap: 4px;
  }
}
