/* ================================================= */
/* ================= GRID ========================== */
/* ================================================= */

.membersGrid {
  display: grid;
  justify-content: center;
  gap: 22px;
}

/* ================= BIG SCREEN ================= */
/* 🔥 3 CARDS */

@media (min-width: 768px) {
  .membersGrid {
    grid-template-columns: repeat(3, 215px);
  }
}

/* ================= SMALL SCREEN ================= */
/* 🔥 2 CARDS */

@media (max-width: 767px) {
  .membersGrid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 420px;
    margin: 0 auto;
  }
}

/* VERY SMALL */
@media (max-width: 360px) {
  .membersGrid {
    gap: 16px;
  }
}

/* ================================================= */
/* ================= CARD ========================== */
/* ================================================= */

.card {
  background: #ffffff;
  border-radius: 18px;
  padding: 26px 22px 28px;
  text-align: center;

  width: 215px;
  height: 280px;

  border: 1px solid #e7d9cf;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  margin-left: auto;
  margin-right: auto;

  &:hover {
    transform: translateY(-6px);
    border-color: #faa33d61;
    box-shadow: #faa33d26 0px 20px 20px 0px;
  }
}

/* ================= IMAGE ================= */

.imageWrapper {
  width: 140px;
  height: 140px;
  margin: 0 auto 18px;
  border-radius: 50%;
  background: #f6ede5;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ================= TEXT ================= */

.name {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  margin-bottom: 6px;
}

.role {
  font-size: 13px;
  color: #8a8a8a;
  font-weight: 500;
}

/* ================================================= */
/* ================= RESPONSIVE CARD ================= */
/* ================================================= */

/* TABLET */
@media (max-width: 992px) {
  .card {
    width: 205px;
    height: 270px;
  }

  .imageWrapper {
    width: 130px;
    height: 130px;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .card {
    width: 180px;
    height: 250px;
    padding: 22px 18px 24px;
  }

  .imageWrapper {
    width: 120px;
    height: 120px;
    margin-bottom: 14px;
  }

  .name {
    font-size: 15px;
  }

  .role {
    font-size: 12px;
  }
}

/* VERY SMALL MOBILE */
@media (max-width: 360px) {
  .card {
    width: 165px;
    height: 235px;
    padding: 20px 16px 22px;
  }

  .imageWrapper {
    width: 110px;
    height: 110px;
  }

  .name {
    font-size: 14px;
  }
}
