.card {
  background: #ffffff;
  border-radius: 18px;
  padding: 26px 22px 28px;
  text-align: center;
  width: 215px;
  height: 280px;
  border: 1px solid #e7d9cf;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  &:hover {
    transform: translateY(-6px);
    border-color: #faa33d61;
    border-style: solid;
    border-width: 1px;
    box-shadow: #faa33d26 0px 20px 20px 0px;
  }
}

/* IMAGE */
.imageWrapper {
  width: 140px;
  height: 140px;
  margin: 0 auto 18px;
  border-radius: 50%;

  /* light beige circle background */
  background: #f6ede5;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* NAME */
.name {
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
  margin-bottom: 6px;
}

/* ROLE */
.role {
  font-size: 13px;
  color: #8a8a8a;
  font-weight: 500;
}
