.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #ffffff;
  border-radius: 14px;
  max-width: 600px;
  width: 90%;
  // height:85%;
  overflow: hidden;
}

/* IMAGE */
.imageWrap {
  width: 100%;
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* CONTENT */
.content {
  padding: 24px;

  h3 {
    margin-bottom: 12px;
    font-size: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }

  button {
    margin-top: 20px;
    padding: 8px 18px;
    border: none;
    background: #2e3192;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

/* ================= TABLET ================= */
@media (max-width: 768px) {
  .modal {
    max-width: 90%;
  }

  .imageWrap {
    height: 200px;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 480px) {
  .imageWrap {
    height: 160px;
  }

  .content {
    padding: 16px;

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 13px;
    }
  }
}
